// Import all partials
// @require './_*.styl'

header.top
  text-align center
  h1
    font-size 14.4rem
    display flex
    justify-content: center;
  h3
    margin 0
    font-size 2rem
    color orange
    position relative
    display inline-block

ul
  list-style none
  margin 0
  padding 0

ul.order
  // Default state
  li
    border-bottom 1px solid black
    padding 2rem 0
    display flex
    font-size 1.4rem
    justify-content space-between
    align-items center
    &:hover
      // padding 1rem 0
      button
        display inline
    button
      border 0
      display none
      line-height 1
      padding 0
    &.total
      font-weight 600
      border-bottom 3px solid black
      border-top 3px double black
    &.unavailable
      text-decoration line-through
      background lighten(red, 80%)
    .price
      font-size 1.2rem
    span.count
      position relative
      overflow hidden
      float left // only works if it's floated?!
      span
        display inline-block
        // transition all 0.5s

div.quote-div
  padding 20px

ul.quotes-ul
  padding 10px
  display flex 
  flex-wrap wrap
  justify-content space-between

li.quote-li
  border 1px groove slategray
  flex-grow 1
  flex-shrink 1
  flex-basis auto 
  width 100%
  @media screen and (min-width: 600px)
    width 45%
  @media screen and (min-width: 900px)
    width 30%
  @media screen and (min-width: 1350px)
    width 24%
  @media screen and (min-width: 1920px)
    width 15%

button, input[type=submit]
  text-transform uppercase
  background none
  border 1px solid black
  font-weight 600
  font-size 1.5rem
  font-family 'Open Sans'
  transition all 0.2s
  position relative
  z-index 2
  &[disabled]
    color red
    background white
    border-color red
    transform rotate(-10deg) scale(2) translateX(50%) translateY(-50%)
    &:hover
      color red
      cursor not-allowed
    &:after
      display none
  &:after
    content ''
    z-index -1
    display block
    background black
    position absolute
    width 100%
    height 0
    left 0
    top 0
    transition all 0.2s
  &:hover, &:focus
    color white
    outline 0
    &:after
      height 100%
  // variants
  &.warning
    &:after
      background red
  &.success
    &:after
      background green
